<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/Public/static/assets/images/favicon.ico" type="image/ico" />

    <title>深圳市弘鹏装饰设计工程有限公司</title>

</head>

<body class="nav-md">
<center><a href="http://www.beian.miit.gov.cn/"><img src="/Public/static/assets/images/home.jpg"></a></center>
</body>
</html>