<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/Public/static/assets/images/favicon.ico" type="image/ico" />

    <title>深圳市弘鹏装饰设计工程有限公司</title>

</head>

<body class="nav-md">
<div style="height: 400px;text-align: center;margin-top: 100px;">
    网站开发中
</div>
<center><a href="http://www.beian.miit.gov.cn/">备案号:	2afb6ef4-2464-4757-a9a3-cc955c977764</a></center>
</body>
</html>