<!-- 侧边栏 -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
        <li><a href=""><i class="fa"></i>首页</a></li>
        <li><a href=""><i class="fa"></i>账号管理</a></li>
        <li><a href=""><i class="fa"></i>技能类型管理</a></li>
        <li><a href=""><i class="fa"></i>技能管理</a></li>
        <li><a href=""><i class="fa"></i>需求管理</a></li>
        <li><a href=""><i class="fa"></i>banner图管理</a></li>
     </ul>
  </div>
</div>