<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
<title>新人活动详情</title>
<link rel="stylesheet" href="/Public/static/assets/css/invite.css" />
</head>

<body>
	<div class="down_lk">
    <div class="top_lk"><img src="/Public/static/assets/images/bg_lk.jpg"></div>
    <!--<p><a href="{$download_url}">立即下载</a></p>-->
    <p><a href="https://taolihong.oss-cn-beijing.aliyuncs.com/download/tlh.apk">立即下载</a></p>


    </div>
</body>
</html>