<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>深圳市弘鹏装饰设计工程有限公司用户协议</title>
</head>
<body>
欢迎您使用桃李红的服务！

为使用桃李红的服务，您应当阅读并遵守《桃李红使用协议》和《桃李红隐私政策》。本协议是用户与桃李红之间的法律协议，是用户注册桃李红平台账号和/或使用桃李红服务时使用的通用条款。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、管辖与法律适用条款。限制、免责条款可能以黑体加粗或加下划线的形式提示您重点注意。根据国家法律法规变化及本网站运营需要，桃李红有权对本协议条款及相关规则不时地进行修改，修改后的内容一旦以任何形式公布在本网站上即生效，并取代此前相关内容，您应不时关注本网站公告、提示信息及协议、规则等相关内容的变动。您知悉并确认，如您不同意更新后的内容，应立即停止使用本网站；如您继续使用本网站，即视为知悉变动内容并同意接受。

您确认所有服务条款并完成注册程序时，本协议在您与本网站间成立并发生法律效力，同时您成为本网站正式用户。

一、总则
1.1、“桃李红”平台(以下简称“平台”)依据《“桃李红”使用协议》(以下简称“本协议”)的规定提供服务，本协议具有合同效力。用户注册时，请认真阅读本协议，审阅并接受或不接受本协议。

1.2、 用户注册桃李红即代表同意本协议的全部条款并应按照页面上的提示完成全部的注册流程。用户在进行注册过程中点击"注册"按钮即表示用户与平台达成本协议，完全接受本协议项下的全部条款，本协议即在用户与平台之间产生法律效力，对双方均具有法律约束力。在点击之前请您再次确认已知悉并完全理解本协议的全部内容。

1.3、 用户注册成功后(包含第三方平台登录)，将会拥有独立账号，该用户账号由用户自行负责保管；用户应当对其账号所进行的全部行为、意思表示以及活动和事件承担相应的法律责任。

1.4、 若已经注册为本平台用户，即表示已充分阅读、理解并同意本人与本平台订立本协议，且自愿受本协议的条款约束。如用户不同意相关变更，或对平台功能、协议内容有异议的，可将异议反馈至官方邮箱：905556960@qq.com并暂停使用本平台；若未能解决的，应提交中国国际经济贸易仲裁委员会，按照申请仲裁时该会现行有效的仲裁规则进行仲裁。本协议内容包含本协议正文、桃李红充值协议、桃李红服务协议、桃李红会员服务协议及平台在使用手册中包含的所有规则。所有规则为本协议不可分割的一部分，与本协议正文具有同等法律效力。用户继续使用本平台，则表示已接受并自愿遵守经修订后的条款。

二、用户的权利和义务
2.1、 只有符合下列条件之一的自然人或法人才能申请成为本平台用户，可以使用本平台的服务：

2.1.1、 年满十八周岁，并具有民事权利能力和民事行为能力的自然人。

2.1.2、根据中国法律、法规、行政规章成立并合法存在的机关、企事业单位、社团组织和其他组织;无法人资格的机关、单位或组织，不能注册为本平台用户，其与本平台之间的协议自始无效，本平台一经发现，有权立即终止对该用户的服务，并向其追究因协议无效导致的一切法律责任。

2.2、 用户根据平台的运营要求及在使用过程中涉及的环节，应当向本平台提供真实准确的注册信息(包含但不限于真实姓名、年龄、地址、身份证及相关信息或法人相关注册信息)确保本平台可以通过上述联系方式与用户进行联系，同时用户须在相关资料信息变更时及时更新在本平台相关资料信息。本平台将依照《中华人民共和国网络安全法》等法规，保护用户公民个人信息安全。

2.3、本平台用户应遵守国家法律法规规章及其他有关规定，拥护中国共产党领导，拥护社会主义制度，不得损害国家荣誉和利益，不得侵害公民的合法权益，积极维护公共秩序和社会道德风尚，保证信息的真实性。

2.4、 使用“桃李红”平台用户基础配置：

2.4.1、自行配备上网的所需设备，包含手机、调制解调器或其他必备上网设备。

2.4.2、 自行负担个人上网所支付的与其服务有关的电话费用、网络费用及在平台产生的交易等费用(包含但不限于以上登录网络费用)。

2.5、平台用户不得以虚假信息注册平台账号，包含但不限于姓名、地址、手机、身份证、照片等相关信息或法人注册信息，并有义务保证在本平台上发布的信息真实、准确、完整、无误导性且不侵害他人合法权益。

2.6、平台用户注册平台内容不得存在违法信息和不良信息，包含但不限于以下违法、违规行为：利用平台从事洗钱、窃取商业秘密、窃取个人信息及在第三方登录平台从事洗钱等违法犯罪活动及其他损坏平台或他人的利益行为。

2.7、平台用户在本平台上发布的内容，不得违反国家法律、法规、规章及其他规范性文件的规定，不得侵犯他人知识产权或其他合法权益，不得违背社会公共利益或公共道德，不得违反平台其他相关规定。

2.8、本平台交易应当遵守诚实信用原则，用户不得操纵或干预发布需求和服务，以不正当竞争方式扰乱网上交易秩序，不得从事与网上交易无关的不当行为，不得扰乱正常购买秩序，谋取不正当利益。

2.9、平台倡导用户在交易过程中遵守公平、诚信、互利的准则，严禁用户同时注册、使用多个账户；严禁用户提供虚假需求、互换点赞好评；严禁用户通过欺骗或其他不正当手段获取点赞好评、虚构交易次数、获取代金券等平台奖励用于抵现和消费等行为；严禁用户采取其他不正当手段提高自身或他人信用积分、等级、信用，或者恶意评价其他用户、降低其他用户积分、等级、信用。

2.10、用户承诺在使用本平台实施的所有行为遵守国家法律、法规和规章及其他规范性文件的规定和本平台的相关规定以及各种社会公共利益或公共道德。如有违反相关规定或违背公共利益、公共道德，用户将承担全部的法律责任，平台不承担任何直接或间接、连带责任。

2.11、用户在本平台上交易过程中如与其他用户因违规交易产生纠纷，可以通过联系客服的方式提请平台处理，平台会依据国家相关法律法规和本协议及平台的其他规定进行处理。本平台有权对违法违规行为在平台内进行公示。

2.12、平台用户支付诚意金为自愿行为，订单到期后，如果未成交可申请退回诚意金。为保障服务双方到交易权益，未应邀和未成交订单在未到有效期之前视为订单进行中，不可删除订单、不可申请诚意金退回。

2.13、用户在使用桃李红平台相关服务时发表或上传的文字、图片、视频、音频等所有内容，生成应为用户原创的信息或已获合法授权，用户在桃李红平台上传、发布的任何内容的知识产权归属用户或原始著作权人所有。为了提升桃李红平台的服务质量，除双方另有约定以外，用户同意将其在桃李红平台所上传、发布的内容（以下或简称授权内容）的知识产权（人身权益除外）及行使知识产权所必须的权利（包括但不限于使用其声音、肖像等），在全世界范围内，以免费、非独家、可转让的方式允许桃李红平台使用；除非用户明示撤销上述部分或全部授权，否则本授权一经发出持续有效；若用户不希望桃李红平台继续使用其全部或部分已授权内容，应暂停使用桃李红产品，并联系官方，经双方协商一致后，以平台同意的用户书面申请作为解除授权手续。 未经本平台书面允许，用户及其他网站、平台、公司等商业性组织，不得将本平台的任何资料以及在交易平台上所展示的任何信息作商业性使用(包含但不限于以复制、修改、翻译、水印等形式制作衍生作品、分发或公开展示)。若未经桃李红平台允许，擅自转载、使用、赚取、篡改、剽窃桃李红平台内容，桃李红有权追究相关法律责任及产生的一切经济损失。

2.14、用户注册账号内容须按照平台规范要求填写，不得利用“桃李红”帐号或本平台服务项目制作、上传、复制、发布、传播如下法律、法规和政策禁止的内容。包含但不限于以下情形：

2.14.1、反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的。

2.14.2、煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的。

2.14.3、损害国家信誉、荣誉和利益的。

2.14.4、煽动民族仇恨、民族歧视，破坏民族团结的。

2.14.5、任何包含对种族、性别、宗教、地域内容等歧视的。

2.14.6、捏造或者歪曲事实，散布谣言，扰乱社会秩序的。

2.14.7、宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的。

2.14.8、公然侮辱他人或者捏造事实诽谤他人合法权益的，或者进行其他恶意攻击的行为。

2.14.9、含有法律、行政法规禁止的其他内容的。

2.15、用户不得利用“桃李红”帐号或本服务制作、上传、复制、发布、传播如下干扰“桃李红”正常运营，以及侵犯其他用户或第三方合法权益的内容。

2.15.1、含有任何淫秽、性或性暗示的。

2.15.2、含有辱骂、恐吓、威胁内容的。

2.15.3、含有骚扰、垃圾广告、恶意信息、诱骗信息的。

2.15.4、涉及他人隐私、个人信息或资料的。

2.15.5、侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的。

2.15.6、含有其他干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。

2.16、用户及任何第三方不得使用以下方式登录平台或破坏平台所提供的服务：

2.16.1、使用桃李红服务器、篡改“桃李红代码”或相关的其他损害桃李红系统的行为。

2.16.2、以任何模拟软件、第三方外挂软件或其他自动方式访问、注册或登录本平台;使用具有删除、修改、增加、干扰功能的任何计算机软件、硬件或通讯设备功能的软件或其他病毒，以干扰平台正常运行的行为。

2.16.3、企图规避平台的安全设置或网络系统，包含获取用户不应获取的数据，登录未经明确授权的服务器或账户，或采用运行端口扫描等方式窥探其他网络的安全措施。

2.16.4、以可能导致桃李红的计算机系统或设施承受不合理负载的方式获取桃李红提供的服务或平台信息，或进行可能导致此类情况出现的行为。

2.16.5、 实施任何形式的网络监控，截取与自身无关的信息，注册多个账户，通过自我邀请、相互邀请或利用多个手机或邮箱注册等不正当手段获取返利、抵用券或任何经济利益。

2.17、用户账号中止或被封后，平台仍有权保留用户的所有注册信息及过往交易记录，对用户在平台从事违法违规行为或违反本协议和平台相关规定的行为，桃李红仍有权行使本协议规定的权利并追究用户的法律责任。

2.18、 平台有权单方给用户发送信息，包含但不限于活动信息、交易信息、促销信息等。

2.19、用户应当遵守本协议及平台公示的各项服务规则的内容，若因用户违反本协议及服务规则造成相关损失的，应由用户单方面负责并承担赔偿责任。

2.20、应国家网信办关于《移动互联网应用程序信息服务管理规定》要求，用户使用本平台需实名身份认证。如在平台完成注册，且注册成功，并完成实名认证后，即自动开通“桃李红账户”具有发布信息和提供服务服务权、提现权，所有程序均须按照平台规定进行操作。

2.21、用户在使用平台完成相关操作时，既视为同意平台对该行为的要求。若有异议，可拒绝并停止相关行为的操作、停止对平台的使用。

三、“桃李红”平台权利和义务
3.1、 本平台有义务在现有技术水平的基础上努力确保整个网上交流平台的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证用户网上交流活动的顺利进行。

3.2、 本平台对版面进行改版、APP系统升级、增加（或调整）服务功能等须中断服务的操作时，有权暂时中断服务。本平台将会视具体情况在实施以上行为时予以公告。

3.3、本平台致力为用户提供一个需求和服务信息交流平台，是雇主发布需求和服务者提供解决方案的一个撮合平台。平台在保护用户公民个人信息安全的前提下，在现有能力和技术水平范围内，对交易双方实施必要监管以保证交易顺利完成，如非确有必要平台不主动介入双方交易。

3.4、 本平台有义务对用户在注册使用本平台信息中所遇到的与交易或注册有关的问题及反映的情况作出回复。

3.5、 本平台有权对用户的注册资料进行审查核验，对存在任何质疑或异议的注册资料，本平台有权发出通知询问用户，并要求其做出解释、更正。

3.6、 本平台有权对有异常提现等涉嫌违法违规的用户进行钱款做冻结处理；账号禁用、封号等处理的权利。

3.7、针对在平台交易产生的纠纷，平台倡导纠纷各方依法通过诉讼或仲裁程序维护各自合法权益，平台将配合司法机关相关工作提供必要材料。用户也可向平台提出申诉，并提供相关证明材料，平台在了解纠纷情况、经审核确认后，将处理结果告知纠纷各方。

3.8、 针对用户规避缴纳平台费用、炒作信用、发布欺诈或虚假补量内容、发布与交易无关内容、而以竞价或其他扰乱正常交易秩序行为、违反公共利益或可能损害本平台和其他用户合法利益的其他行为，本平台有权单方删除或采取其他限制性措施予以处理。

3.9、 根据国家法律法规、本平台的相关规定和本平台所掌握的事实依据，如平台认定用户存在违法违规等不当行为，本平台有权单方以网络发布形式公布该用户的违法行为，有权随时做出删除相关信息、限制用户权限、终止提供服务等处理，并有权追究用户的法律责任。

四、充值及消费
4.1、充值使用

用户可通过支付宝、微信等三方支付平台充值到桃李红账户，充值金额可用于平台上的一切交易。包括但不限于诚意金、保证金、服务费、购买增值服务、定金、全款等消费及支付。

4.2、特别说明

4.2.1、总额构成

总额是指用户实际支付的充值本金、通过平台赚取的交易佣金及桃李红平台各种形式奖励现金，这些总和会构成用户的账户总额（人民币）。
4.2.2、总额有效期

总额有效期为自进入桃李红账户之日起直至消费完为止;可提现部分直至审批提现完为止，特殊具有时效性的奖励除外。

4.2.3、总额使用规则

总额包括用户收入和用户充值两部分，平台一切奖励及充值均划归入“我的充值”账户，可用作支付包括但不限于诚意金、服务费、打赏、购买增值服务、定金及全款，但不能提现。“我的收入”为用户交易赚取佣金，符合提现条件用户可申请提现。

4.2.4、为保证用户的资金来源和去向安全，涉及的用户在提现时，需通过身份证认证。认证信息仅用作核验及提现使用，平台将对用户认证相关信息保密。

4.2.5、关于平台奖励使用及充值说明

用户所有在平台所获得的奖励，包括但不限于登录、邀请认证、话题、举报、抽奖、签到、活动以及其他奖励，奖励内容均划归到该用户的充值账户，可用于平台一切正当消费，不可申请提现使用。

4.2.6、关于邀请好友注册双方奖励说明

注册平台后用户邀请好友注册桃李红，邀请者获得的现金奖励划归到该用户的充值账户，可用于平台一切正当消费，不可申请提现使用；被邀请者注册后获得的奖励与被邀请者注册后获得的其他平台奖励均视为平台奖励，划归到该用户的充值账户，可用于平台一切正当消费，不可申请提现使用。若用户由于特殊原因要求平台对账户进行处理，则所有奖励均清零，不可提现。

4.2.7、关于保证金说明

保证金作为服务提供方向平台缴纳的保证服务合法合规之费用，用户在使用软件期间如出现违规行为，其软件功能会被限制使用，缴纳固定保证金后可解除账号受限功能，若缴纳保证金的用户没有按照协议约定的承诺使用平台、提供服务。用户同意按照协议的规定根据违规具体行为扣除相应保证金金额。

此金额作为对交易双方行为的保证，概不退还；若用户账户存在未使用完的保证金并确认今后不再使用平台服务，可联系客服申请退回。

4.3、正当性保证

平台包含充值赠送在内的所有优惠推广活动仅面向正当、合理、合法使用本平台的用户。一旦用户存在利用桃李红平台的规则漏洞进行任何形式的作弊行为（包括但不限于刷单、诈骗等通过平台的活动获得不正当的经济利益）或违反平台相关规定（约定），桃李红有权取消与作弊行为（或违规行为）关联账户的赠送金额、追回用户所得的不正当经济利益，对相关账户做相关处理（相关处理包括但不限于禁用、封号、驳回提现、追回相关经济损失、追究法律责任等），并保留取消用户后续使用本平台的权利，直至依据严重程度追究用户的法律责任。
五、用户服务
(一)定义和释义

在本协议及本平台其它协议相关规定中所使用的下列词语，除非另有定义，应具有以下含义：

5.1、 “本平台”指桃李红APP产品。

5.2、 “用户”指符合《桃李红使用协议》所规定的条件，已根据《桃李红使用协议》在本平台注册，同意遵守本平台各种规则、条款（包括但不限于使用协议），并使用本平台的个人及官网认证商家。

5.3、 “本服务协议”指本平台根据本服务协议而提供的网上交易服务协议以及桃李红使用手册包括的《桃李红使用协议》、《桃李红充值协议》、《关于桃李红》、《审核规范》、等及本平台其他相关规定。同时，本平台有权依据实际情况变更和修改以上规定，并以线上版本作为生效版本。

5.4、 “服务者”是指注册成为平台的用户，在符合《桃李红使用协议》及《审核规范》下发布服务的用户。

5.5、 “服务”是指符合现行法律法规、本平台规范，通过平台提供劳动以满足用户需求的行为。

5.6、“需求者”是指注册成为平台的用户，在符合《桃李红使用协议》及《审核规范》下发布需求的用户。

5.7、“订单”又称“需求”，是指需求者在平台对服务者劳动的合法诉求。

5.8、“诚意金”是指平台注册用户为表达诉求意向在交易前提前支付的钱款。

(二)关于本平台

5.9、 本平台仅为用户提供一个互通信息、进行劳务交易的平台，充当买卖双方之间的交流及撮合媒介。

5.10、 本平台上的交易标的系用户自行发布的劳务服务，并非本平台所有或提供。服务者与本平台无劳务合同关系，平台不对劳务关系主体涉及各方承担劳动保障、救济、保险等法律责任。对于用户发布在本平台的服务、提供的信息及参与应邀及竞标的过程，本平台已做相关审核，并对违反本平台《审核规范》及相关规定的信息（包括但不限于色情、反动、违法、违规等）做相应处理，但不对用户产生信息的真伪性负责。对于因交易产生的轻微纠纷，平台在信息撮合的范畴内，可接入调停，但不对最后结果负责。若用户对调停结果有异议，桃李红有权向相关司法部门或行政管理部门提供与纠纷有关资料，协助相相关司法部门或行政管理部门工作。

用户使用本平台进行交易时，应了解且遵守以下事项：

a)服务者和需求者应通过自己的谨慎判断来确定交易标的、服务者和需求者信息的真实性、合法性以及准确性。

b)服务者和需求者应对交易履行负完全责任。

c)服务者和需求者应自行解决由交易所引起的纠纷。平台可参与调解，但无权决定和影响纠纷结果。双方应履行各自义务。

d)服务者和需求者应自行负担因交易而产生的费用。

e)服务者和需求者应了解并遵守中华人民共和国的相关法律法规。平台鼓励双方已发通过诉讼、仲裁等法定方式解决纠纷。

f)服务者注册桃李红平台，发布服务即代表同意提供合规、真实、合法服务。

5.11、用户同意并遵守《全国人民代表大会常务委员会关于维护互联网安全的决定》、《互联网信息服务管理办法》、《中华人民共和国保密法》、《计算机信息系统国际联网保密管理规定》、《中华人民共和国计算机信息系统安全保护条例》、《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国计算机信息网络国际联网管理暂行规定》及其实施办法（去掉）等相关法律法规的规定，并对注册本人以任何方式使用本平台的任何行为及其结果承担全部责任。在任何情况下，如果本平台有理由认定用户的行为，包括但不限于用户的任何言论和其它行为，违反或可能违反上述法律和法规的任何规定，本平台可终止向用户提供本服务。

进入本平台进行交易，即代表接受本平台的各项服务协议、规则和公告并接受本平台系统提供的服务与规范，通过电子协议的形式缔结平台所有相关协议。

5.12、服务者的权利与义务

5.12.1、作为服务者，用户在发布服务时，应该根据《限制与禁止出售规则》先行判断是否有出售该标的的权利、交易标的是否合法。按照《商品刊登和发布规则》的规定，提供正确的服务名称和准确、真实、完整说明内容，并提供实物图片和其他信息。在确认提交出售标的后，即代表服务者承诺和保证提供合规、真实、合法服务，并为上述服务的真实性、合法性、准确性承担法律责任。

5.12.2、服务者可以修改或删除线上发布信息，生效信息以线上发布的信息为准，但桃李红有权对用户曾经发布或尚未发布的、违法、违规行为追责。

5.12.3、服务者接受需求者邀约后，服务者有义务就需求者的问题、交易所涉及事项进行售前沟通解答。服务者不得在沟通中诱骗需求者转至其他第三方平台，更不以代金券、交通费等名义要求需求者提前付款。

5.12.4、服务者和需求者确认交易事项、达成交易共识后，即代表服务者同意提供服务、双方成立合同关系，服务者在未提前告知需求者时，不得单方违约。合同履行过程中，双方均有权依照相关法律法规追究过错方法律责任、维护己方合法权益。

5.12.5、服务者应保证所上传服务信息的真实性，并保证由本人提供的服务（包括线上服务和本地服务）与在平台发布的服务一致。若不一致，需求者有权举报，平台保留追究服务者相关法律责任的权利。

5.12.6、服务者应邀报价后，应按照报价或约定价格进行服务交易。不得擅自变更服务项目或改价。若未协商一致的，需在开始服务前终止交易，若未终止即视为同意按照应邀信息进行服务。若由于服务者原因中途变更或终止服务，需求者及平台有权追究相关法律责任。

5.13、需求者的权利与义务

5.13.1、需求者发布需求后，即代表授权本平台向服务者披露必要信息并同意接受桃李红平台提供的撮合服务，需求者应按照平台使用手册中所有协议包括但不限于《桃李红使用协议》、《桃李红用户行为规范》、《审核规范》及平台其他全部协议中规定的要求发布需求。

5.13.2、作为需求者，发布需求前应详细审阅《用户使用协议》及评估服务者个人资料（包括不限于昵称、头像、我的简介、教育经历、竞争描述、工作经历、服务介绍、荣誉资质、专业文档等图、文资、影音资料），在充分了解服务者信息后发布需求，一经发布即代表需求者已经了解并同意服务者的服务信息和服务内容。

5.13.3为更好的满足需求者的需求，平台应在需求有效期内为需求者发布的需求提供广播，形式包括但不限于推送、平台系统消息、短信、电话等方式并每次扣去。

5.13.4、需求者有权利在订单有效期内享受服务者应邀，直至所发布订单应邀满为止。订单在有效期内，为保证服务者的服务，需求者不得删除或关闭当前订单；订单有效期到期后，该笔订单剩余诚意金可退回桃李红用户“我的充值”账户。

(三)出售及购买服务

5.14、本平台用户在进行买卖交易时，必须依照以下服务规则进行：

5.14.1、用户在本平台之外的所有操作及交易，桃李红平台无权干涉，若因此产生的任何纠纷桃李红平台亦无须负责。

5.14.2、不得提供禁止、限制出售的服务作为交易标的及赠品。

5.14.3、不得在交易的刊登内容中制定任何不符合现行法律法规及本协议精神的交易要求，包括但不限于平台发布的《桃李红用户行为规范》在内的平台所有协议。

5.14.4、不得利用本平台进行任何欺诈等其他违法行为；服务者必须保证对于出售之物品或（物品）或服务具有合法处分之权利，没有涉及侵害他人权利的情形，如有需要，服务者有义务向需求者提供关于该出售物品或服务的相关证明文件（包括但不限于身份认证、服务认证等认证资质）。

5.14.5、如依法律规定，特定物品或服务的买卖或持有需先取得相关执照或许可时，服务者和需求者必须持有或取得相关执照或许可，方可进行交易。

5.14.6、用户不得操纵交易，如：故意压低出价，以免费服务为噱头等其他非正当营销手段。

5.14.7、不得干扰正在进行中的订单，例如在其他服务者正在接洽或者交易时，服务者不得干扰需求者决策或以诋毁、阻拦其他服务者沟通服务的行为阻止交易。

5.14.8、对于确认交易的服务，如需求者已经支付定金或全款，即视为服务开始，服务者应按照应邀报价或双方约定的价格进行交易，除非需求者资料不实导致服务者无法确认其身份或有不可抗力导致交易无法继续进行；对于已经确认开始的服务，需求者有责任按照服务者报价或双方约定的价格进行交易，除非服务者资料不实导致需求者无法确认其身份或有不可抗力导致交易无法继续进行。

5.14.9、所有利用本平台从事经营性活动的注册用户，应遵守《电子商务监督管理暂行办法》。

(四)商品刊登和发布条款

5.15、为了保证交易的顺利进行，用户注册即代表了解并同意遵守本平台使用手册中所有协议及平台所有规范，用户一旦违反《桃李红用户行为规范》的相关规定，本平台保留给予相关用户警告、冻结或终止其帐户的权利，由此类行为所引起的法律责任由相关用户完全承担，与本平台无关。

(五)禁止出售的及服务

5.16、本平台用户不得出售国家法律、法规或本平台禁止交易的物品和服务。对国家法律、法规限制交易的物品和服务，出售及交易时应符合有关法律、法规所规定的条件。一旦本平台发现有任何禁止交易物品或服务不符合特殊交易条件的限制交易物品和服务，有权删除相关信息并保留给予相关用户警告、冻结或终止其帐户的权利。在用户准备应用本平台进行交易之前，应仔细阅读本平台使用手册中所有协议及平台相关规定。由于违规交易所引起的法律责任由相关用户完全承担，与本平台无关。

(六)授权

5.17、任何交易服务的信息、资料一经上传、输入或提供至平台之时，视为用户已授权本平台对上述信息、资料做合法使用，包括但不限于允许本平台以宣传本平台或交易服务（包括用户本人或其他人的）目的，无条件在本平台以外的其他平台、网站、媒体等重制、推广、修改、展示、公开播送、公开传输这些资料。

(七)安全交易

5.18、平台提供手机认证、支付宝认证、微信认证、微博认证、在内的多种认证机制。平台本着“倡导但不强制”的原则，用户根据个人情况自行提交认证资料。平台鼓励用户选择有认证标识的用户进行交互。对于无认证信息用户的违法违规行为引发的纠纷和责任，平台不承担任何法律责任。

(八)效力

5.19、本平台上所公布之所有规范及使用说明均构成为本服务协议的一部分，所有用户应该予以遵守。

5.20、本平台有权修改或变更本服务协议及其它相关规定。修订后的上述规定自生效时起，若用户对修改后的协议有任何异议，可向平台客服邮箱发器书面请求，直至争议解决。若存在争议期间继续使用本平台，则视为同意修订后的协议条款。

(九)违反使用规范

5.21、本平台对于用户所发布之买卖信息（ 以下称“买卖信息”）将会进行审核，如果发现包含有禁售、限售物品或非法信息，本平台有权随时该买卖信息。同时，用户需对所发布的信息承担法律责任。若用户违反本使用规范或任何公告于本平台之服务使用说明，本平台有权立即删除用户所发布信息，情节严重的终止使用本平台的权利。若用户的行为触犯相关法律，本平台保留追究用户法律责任的权利。

5.22、若因用户发布的未发信息导致本平台收到第三人的追偿或主管机关的处罚，发布信息者应赔偿本平台的相关损失。

(十)本平台的责任范围

5.23.1、当用户使用本平台并享受平台服务时，即代表用户已经阅读并接受本协议全部条款。并且承诺使用本平台的风险由用户本人负担。本平台是在现有技术基础上提供的。本平台不保证以下事项∶

a)本平台完全符合用户的要求。

b)本平台不受干扰、能够及时提供、安全可靠或免于出错。

c)本服务使用权的取得结果是正确或可靠的。

d)用户经由本平台购买或取得的任何商品或服务完全符合用户的期望。

5.24、用户自行考虑、衡量是否经由本平台下载或取得资料，因此产生的任何风险和责任均由用户自行承担。

5.25、用户自本平台或经由本平台取得的信息和咨询，无论其为书面或口头，绝不能替代本协议及平台的有关规定，更不包含或以任何方式构成本协议未明示规定的任何保证。

5.26、基于以下原因而造成的利润、利益、商誉、使用、资料损失或其它无形损失，本平台不承担任何直接、间接、附带、特别、衍生性或惩罚性的补偿或赔偿：

a)本平台的使用或无法使用。

b)经由或通过本平台购买或取得的任何商品，或接收的讯息，或进行交易所随之产生的替代商品及服务。

c)用户的传输或资料遭到未获授权的存取或变更。

d)本平台中任何第三人的声明或行为。

e)本平台其它相关事宜。

5.27、本平台只是为用户提供一个信息撮合的平台，对于用户所刊登的提供服务及相关信息的合法性、真实性、有效性及其品质，以及用户履行交易的能力等，本平台一律不承担责任。用户如果因使用本平台，或因购买刊登于本平台的任何物品或服务，或因使用相关信息而受到损害、损失时，本平台不负任何补偿或赔偿责任。

(十一)知识产权的保护

5.28、本平台及本平台所使用的任何相关软件、程序、内容，包括但不限于作品、图片、档案、资料、网站构架、网站版面的安排、网页设计、经由本平台或广告商向用户呈现的广告或资讯，均由本平台或其它权利人依法享有相应的知识产权，包括但不限于著作权、商标权、专利权或其它专属权利等，受到相关法律的保护。未经本平台或权利人明示授权，用户应保证不修改、出租、出借、出售、散布本平台及本平台所使用的上述任何资料和资源，或根据上述资料和资源制作成任何种类物品。本平台授予用户不可转移及非专属的使用权，用户可以通过单机计算机使用本平台的目标代码（以下简称“软件”），但用户不得且不得允许任何第三人，复制、修改、创作衍生作品、进行还原工程、反向组译，或以其它方式破译或试图破译源代码，或出售、转让“软件”或对“软件”进行再授权，或以其它方式移转“软件”之任何权利。用户同意不以任何方式修改“软件”，或使用修改后的“软件”。用户不得经由非本平台所提供的界面使用本平台。

六、服务的中断和终止
6.1、因网上信息平台的特殊性，本平台不承担对所有用户的交易行为以及与交易有关的其他事项进行事先审查的责任。但如发生以下情形，本平台有权单方决定限制用户的活动、向用户核实有关资料，同时发出警告通知、暂时中止、无限期中止及冻结账户拒绝向该用户提供服务，如用户行为给平台造成相关损失或关联损失的，用户应 承担相应法律责任及赔偿责任：

6.1.1、 由平台用户或登录第三方平台举报，并提供相关证据，认定某用户或具体交易事项存在违反本协议规定或违法违规现象时，且本平台无法联系该用户或和政、验证该用户平台内相关资料的。

6.1.2、 每个用户仅可在“桃李红”注册一个账户，用户注册多个账户的。

6.1.3、 用户在被本平台终止提供服务后，再一次直接或间接或以他人名义注册为本平台用户的。

6.1.4、 无限期终止或冻结账户停止服务的用户，通过他人直接、间接再次注册成为平台用户的。

6.1.5、 任何异常使用或获得包括但不限于代金券、奖励等桃李红奖励的刷单行为。

6.1.6、 用户提供虚假信息注册或有上述禁止的言论或行为的。

6.1.7、 其他违反法律法规和平台相关规定的行为，及致使平台或第三人遭受利益损害的行为。

6.1.8、 本协议或平台相关规定终止或更新时，用户明确不同意接受新协议或规定的。

6.2、用户账户被停止服务或注销后，用户将不能使用本平台除浏览页面外的所有服务，但平台仍有权保留用户的所有注册信息及过往交易记录，对用户在平台内从事违法行为或违反本协议及相关规定的行为，本平台仍有权行使本协议规定的权利并追究用户的法律责任。

6.3、若用户申请终止本平台服务，需经本平台审核同意，方可解除与本平台的协议关系，但本平台仍保留下列权利：：

6.3.1、 本平台有权在法律、法规、规章或其他规范性文件规定的时间内保留该用户的资料，包含但不限于以前的用户资料、交易记录等。。

6.3.2、 若终止服务之前，该用户在本平台交易上存在违法违规行为或违反本协议的行为，本平台仍继续可行使本协议所规定的权利。

七、知识产权
7.1、 用户在本平台发表的产品使用体验、产品讨论或图片等所有信息(以下简称“信息”)，除署名权、发表权、修改权外的其他知识产权权利(包含但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利)，均独家排他无偿许可给平台，并授权平台为维护上述知识产权权利采取相应法律措施。本协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在桃李红平台发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。

7.2、 平台许可的关联方有权将用户在平台发表的产品使用体验、产品讨论或图片进行使用或者与其他人合作使用，使用范围包含但不限于网站、平台、电子杂志、杂志、刊物等媒体。

7.3、 用户不得经由非本平台所提供的界面使用本平台的各项服务。

八、通知和公告
8.1、 平台不定期通过页面公告或应用推送或手机短信等方式，向用户发送通知，所有通知自发送时起生效。

九、不可抗力
9.1、 因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，双方均不承担责任。本合同所称之不可抗力意指不能预见、不能避免并不能克服的客观情况，包含但不限于互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气(如火灾、洪水、风暴等)，爆炸，战争，政府行为或任何其它自然或人为造成的灾难等客观情况。

十、免责声明
10.1、 如出现下列情况本平台无需承担任何责任：

10.1.1、用户自行将账号、密码告知他人或与他人共享注册账户，由此导致的信息泄露或其他非平台原因导致的信息泄漏。

10.1.2、 由于黑客攻击、计算机病毒侵入或发生因政府管制而造成的暂时性关闭等，从而影响网络正常运行及非平台原因而造成的个人信息泄露、丢失、被盗用或被篡改等。

10.1.3、 任何第三方根据平台相关服务的声明及服务协议中所列明的情况使用您的个人信息，由此所产生纠纷的。

10.1.4、用户双方在交易过程中不得使用非平台第三方聊天软件，并不得互留其他通信号码，因违规沟通产生纠纷的。

10.1.5、用户在提现过程中支付的手续费，非桃李红平台收取，为第三方平台支付宝/微信收取。用户在平台提现需要支付10%提现手续费(提现手续费率以线上公式协议为标准，桃李红有权根据行业第第三方支付平台政策变动进行更改并公示)。

10.1.6、服务者与需求者取得联系沟通后的，禁止通过其他支付平台进行交易或其他支付方式进行汇款、转账等支付行为(包含不限于用户引导服务商家交易服务商同意的;服务商家从平台获取雇主信息，及任何其他形式的进行交易)，用户因交易造成的一切经济损失及人身伤害由用户自行承担、负责。

10.1.7、桃李红仅为用户提供信息分享、传送及获取的平台，用户必须为自己注册账号下的一切行为负责，包括用户所传送的任何内容及由此产生的任何后果。桃李红对用户上传的信息进行审核，但是无法对用户的个人真实信息的真伪性进行核查和验证。用户应对交易对象的信息在交易前做充分了解和客观判断，若盲目交易造成的个人人身安全和财产损失。

10.1.8、 本平台在各服务声明及服务协议中列明的所有免责情形的。

10.1.9、本平台的网页或客户端上有与其它网站网页的链接，本平台对其他任何网站的内容、隐私政策、运营情况、或经营这些网站的公司的行为概不负责。用户在与第三方平台链接的网站提供个人信息之前，请查阅该平台的相关规则政策。

10.1.10、桃李红依据法律法规、本协议约定获得处理违法违规或违约内容的权利，该权利不构成桃李红的义务或承诺，平台没有义务必须对上述内容进行处理。平台也没有能力对未发现的、可能存在的、潜在的、突发的违法违规或违约交易行为进行处理。

10.2、 因不可抗力所导致信息泄露、丢失的。

十一、平台保密安全
11.1、 本平台高度重视用户公民个人信息保护工作，将遵照执行《信息安全技术个人信息安全规范》及《网络安全法》相关规定，用户接受本协议时，应明确了解并同意如下内容：

11.1.1、 本平台有权在平台范围内使用客户的相关信息。

11.1.2、 本平台不会向任何人出售或出借用户的个人或法人信息，除非事先得到用户得许可。

11.1.3、 严禁任何用户通过本平台侵犯其他用户公民个人信息，本平台也不允许用户通过第三方以任何手段收集、编辑、出售或者无偿传播用户的个人或法人信息。用户如从事上述活动，一经发现，本平台有权立即终止与该用户的服务协议，并根据平台相关规定处理。

11.2、 用户在平台上的个人或法人信息将在下述情况下可能部分或全部被披露：

11.2.1、 经用户同意，向第三方披露。

11.2.2、 用户在使用本平台过程中涉及到知识产权类纠纷，有第三方主张权利的，本平台在审核主张方提交的资料后认为披露用户信息有助于纠纷解决的。

11.2.3、 根据法律的有关规定，或者行政、司法机关的要求，向第三方或者行政、司法机关披露。

11.2.4、 若用户出现违反中国有关法律或者平台规定的情况，需要向第三方披露。

11.2.5、 为提供平台用户所要求的产品和服务，而必须和第三方分享用户的个人或法人信息。

11.2.6、 用户或者第三方申请本平台披露其他用户信息的，平台有权视实际情况要求申请人出具书面申请，申请书内容应包含申请披露的信息范围、用途及使用承诺等内容。

11.2.7、 其它本平台根据法律或者平台规定认为合适的披露。

11.3、信息安全

11.3.1、 在使用本平台服务进行网上交易时，请用户妥善保护自己的个人或法人信息，仅在必要的情形下向他人提供。

11.3.2、 如果用户发现个人或法人信息泄密，尤其是用户账户或“支付账户管理”账户及密码发生泄露，请用户及时联系平台，沟通处理。如果因用户拖延通知造成任何损失，平台不承担赔偿责任。

11.4、 本平台仅为提供信息撮合的平台，对于用户所发布的需求的合法性、真实性及其品质，以及用户履行交易的能力等，本平台一律不负任何担保责任。

十二、交易纠纷解决方式
12.1、 本协议及其规则的有效性、履行和与本协议及其规则效力有关的所有事宜，将受中华人民共和国法律管辖，任何争议仅适用中华人民共和国法律。

12.2、凡因履行本协议及其规则发生的纠纷以及在平台上交易产生的所有纠纷和侵害，平台可有选择的在有限范围内协助用户处理产生的纠纷，若情节严重的，桃李红有权协助相关司法机关处理争议。

12.3、用户上传的信息，平台会在尽快完成审核，在信息审核期内，因任何情况产生的所有纠纷，平台无法承担责任且无权处理。

十三、协议完整
13.1、本协议由本协议条款与本平台使用手册下公示的各项制度组成，相关名词可互相引用参照，如有不同理解，以本协议条款为准。

13.2、用户对本协议理解和认同，即对本协议所有组成部分的内容理解并认同，一旦用户使用本服务，用户和本平台即受本协议所有组成部分的约束。

十四、其他
14.1、本平台对本协议包含基于本协议制定的各项规则拥有最终解释权。

14.2、本协议的相关条款是可分割的，如本协议任何条规被裁定为无效或不可执行，则该条款可被删除，不影响协议其余条款的继续执行。

14.3、本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对当事方具有约束力。

桃李红隐私政策
尊敬的桃李红用户：我们对《桃李红隐私政策》进行了更新。本协议中我们做出了诸多有利于保护您个人信息的调整;明确了我们的产品与/或服务收集、使用及共享个人信息的类型方式和用途;以增强告知或即时提示的方式在收集、使用及共享个人信息时给予用户明示选择权，并允许用户即时撤销授权。

【特别提示】请仔细阅读《桃李红隐私政策》并确定了解我们对您个人信息的处理规则。阅读过程中，如您有任何疑问，可联系我们的客服咨询，如您不同意协议中的任何条款，您应立即停止访问桃李红。 阅读协议的过程中，如果您不同意相关协议或其中任何条款约定，您应立即停止使用桃李红。
</body>
</html>